@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Londrina+Sketch&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
.logo img {
  width: 80%;
}
nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
nav .nav-links a {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px;
    color: black;
    font-size: 28px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.header {
    text-align: center;
    margin: 100px 0 10px 0;
}
.header h1 {
    font-size: 120px;
    font-weight: 800;
    margin-bottom: 20px;
}
.image {
    margin: 20px;
}
.image img {
    width: 100%;
    height: auto;
}
.frames {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    margin-top: 50px;
}
.frames img {
    width: 400px;
    height: auto;
    padding: 10px;
}

.frames p {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 17px;
}

.frames p:nth-child(3) {
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 15px;
}
.about {
    margin: 0 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
  }
  .about div h4 {
    font-size: 40px;
  }
  .m-10 {
    margin: 20px;
  }
  .items {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .creations {
    height: 70vh;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(51, 51, 51, 0.08)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mb-10 {
    margin-bottom: 50px;
  }
  .creations h1 {
    font-size: 64px;
  }
  .creations p {
    text-align: center;
    font-size: 24px;
  }
  .creations button {
    border: none;
    font-family: "Roboto Mono", monospace !important;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .clients {
    /* margin: 150px 0; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .clients h1 {
    font-size: 48px;
    text-align: center;
    font-weight: 800;
    margin: 20px 0;
  }
  /* Client Say Sections */
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
  }
  .card {
    margin: 20px;
    margin-top: 50px;
    width: 326px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 10px;
    border-radius: 10px;
    place-items: center;
  }
  .card img {
    width: 50px;
    border-radius: 50%;
  }
  .card-detail {
    margin-top: 10px;
  }
  .border {
    margin-top: 10px;
    height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.16);
  }
  .card-head p {
    font-weight: 500;
    color: black;
  }
  
  .card-head p + p {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }


.endhead {
  padding: 156px 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  text-wrap: wrap;
  margin: 20px;
}

.ending div div {
  /* text-align: justify; */
  width: 50vw; /*Remove While making it Resposive*/
  font-size: 30px;
}

.ending img {
  width: 100vw;
  height: auto;
}
.endfoot {
  padding: 156px 10px;
  display: flex;
  justify-content: end;
  align-items: end;
  text-wrap: wrap;
  margin: 20px;
}
.endfoot p {
  font-size: 24px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-top: 10em;
  align-items: center;
}

footer button {
  font-family: "Roboto Mono", monospace !important;
  padding: 12px 20px;
  background-color: white;
  color: black;
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

footer button:hover {
  background-color: rgb(251, 53, 53);
  color: white;
}

.main-container {
  width: 100%;
  height: 35vh;
  overflow: hidden;
  position: relative;
}